{{ 'gift-guide.css' | asset_url | stylesheet_tag }}
<section class="gift-guide-hero">
  <h1>Hello Shopify</h1>
</section>

{% schema %}
{
  "name": "Gift Guide Hero",
  "settings": [],
  "presets": [
    {
      "name": "Gift Guide Hero"
    }
  ]
}
{% endschema %}